.callout {
	width: 420px;
    margin: 10px;
    border: 1px solid rgb(10, 10, 10);
    padding: 10px;
    background-color: rgb(39, 58, 117);
    color: white;
}

.callout img {
	float: right;
    margin: 0 0 7px 12px;
    border: 1px solid black;
    padding: 5px;
    background-color: gray;
    width: 100px;
    height: auto;
}

blockquote {
	margin: 0;
}

cite {
	display: block;
    border-top: 1px dashed white;
    padding: 4px;
    text-align: right;
    font-size: medium;
}